.ipynb_checkpoints
*.log
run_wy2022*
waq_tables_local
*.mp4
cache
frames-*
swim_frames_v0
depth-avg-growth-rates.nc
__pycache__
*~
dfm_spinup
data_*
bloom_tracers_v*
rotodfm_v*
/sea_temp_buoy_*.tim
/RS_temperature/avhrr-scene-20220802030651.nc
/RS_temperature/avhrr-scene-20220802133544.nc
/RS_temperature/ECOSTRESS_JulAug2022_download_20240216/
/observations.xyn
/seg-ExtVl.nc
/sfbay_bing_satellite.pgw
/sfbay_bing_satellite.png
/figs_rs_scenes/
/figs_usgs_profiles/
/gp_tracers_v01/
/rs_chl/
/sfbofs/*.nc
/tide_and_solar/*.png
